* {
  box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.dropdown {
  border-radius: 5px;
  margin-left: 10px;
  margin-top:
  height: 40px;
  width: 200px;
  padding: 10px;
  line-height: 40px;
  text-indent: 4px;
  color: #333;
  cursor: pointer;
}

.dropdown:hover{
  border-color: #6CB4EE;
}

label {
  color: #333;
}

.dropdown:focus {
  border-color: #6CB4EE;
	box-shadow: 0 0 1px 1px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
