* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  margin-left: 45%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-contents {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.drop-contents a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 17px 80px;
}

.drop-contents a:hover {
  background-color: #eee;
}

.btn {
  padding: 20px 30px;
  background-color: #6CB4EE;
  color: white;
  border-radius: 6px;
  border: none;
  opacity: 0.8;
}

.btn:hover {
  cursor: pointer;
  opacity: 1.0;
}

.dropdown:hover .drop-contents {
  display: block;
}
