a {
    text-decoration: none;
    letter-spacing: 0.7px;
}

.button-div {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.normal-btn {
    padding: 8px 30px;
    background-color: #fff;
    color: #6CB4EE;
    border: 2px solid #6CB4EE;
    margin: 0px 5px;
    border-radius: 20px;
}

.normal-btn:hover {
    transition: 0.3s ease-in-out;
    background-color: #6CB4EE;
    color: #fff;
}

.filled.normal-btn {
    background-color: #6CB4EE;
    color: #fff;
}

.filled.normal-btn:hover {
    transition: 0.3s ease-in-out;
    background-color: #fff;
    color: #6CB4EE;
}

@media(max-width:500px){
    .button-div {
        flex-wrap: wrap;
    }

    .normal-btn {
        margin: 10px;
    }
}