*, *::before, *::after{
    box-sizing: border-box;
}

body{
    padding: 10px;
    margin: 10px;
}

.progress{
    width:500px;
    height: 3em;
    background-color: #d4d4d4;
    border-radius: 1.5em;
    color: white;
    position: relative;
}

.progress::before{
    content:attr(data-label);
    display: flex;
    align-items: center;
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    bottom: 0.5em;
    width: calc(var(--width,0) * 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: #6CB4EE;
    border-radius: 1em;
    padding: 1em;
}