* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    box-shadow: none;
}

.navbar .right-part ul li a:hover, .navbar .right-part ul li a:focus {
    color: #355E3B;
}

.navbar .right-part ul li a::before {
    background-color: #355E3B;
}

.landing-page-container {
    display: flex;
    align-items: center;
    margin-top: 90px;
} 

.landing-image {
    background-color: #355E3B;
    border-top-right-radius: 340px;
    border-bottom-right-radius: 340px;
    padding: 20px 0px;
    width: 65%;
}

.landing-content {
    margin: 30px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.landing-content h5 {
    margin: 20px 0px;
    max-width: 500px;
}

a {
    text-decoration: none;
}

.black-btn {
    padding: 10px 25px;
    color: #fff;
    background-color: #000;
}

.black-btn:hover {
    background-color: #355E3B;
}

@media(max-width: 1200px) {
    .landing-content {
        padding: 0;
    }
}

@media(max-width: 1000px) {
    .landing-page-container {
        flex-direction: column;
        align-items: center;
    }

    .landing-image {
        width: 100%;
        border-radius: 0px;
        display: flex;
        justify-content: center;
    }

    .landing-content {
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 30px;
        margin: 0;
    }

    .landing-content h5 {
        max-width: none;
    }
}