* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.main-wrapper {
  max-width: 1280px;
  width: 100%;
  padding: 15px;
  margin: 50px 20px;
  border: 1px solid #6CB4EE;
}

.tablinks {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #6CB4EE;
}

.tablink {
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px 0px;
}

.tablink:hover, .tablink:focus, .tablink.default {
  cursor: pointer;
  background-color: #6CB4EE;
  color: white;
}

.tabcontents {
  border: 1px solid #6CB4EE;
}

.tabcontent {
  margin-top: 30px;
  display: none;
  text-align: justify;
}

.tabcontent:first-of-type {
  display: block;
}

.tabcontent h6 {
  margin-top: 15px;
}

@media(max-width: 1000px) {
  .main-wrapper {
    margin: 20px;
  }

  .tabcontent {
    margin-top: 10px;
  }
}

@media(max-width: 700px) {
  .tabcontent {
    margin-top: 0px;
  }
  .tablink {
    padding: 10px 0px;
  }

  .main-wrapper {
    margin: 0px;
    padding: 20px;
  }
}

@media(max-width: 400px) {
  .tablinks {
    flex-wrap: wrap;
  }
}
