*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.datetime label{
    position: absolute;
    top: 9%;
    left: 40%;
}
input[type="date"]{
    background-color: #6CB4EE;
    padding: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 10%;
    left: 50%;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}