*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
}

.accordian{
    max-width: 600px;
}

.accordian .content{
    position: relative;
    margin: 0px 20px;
}

.accordian .content .label{
    position: relative;
    padding: 10px 15px;
    background: #fff;
    color: #6CB4EE;
    cursor: pointer;
    border-top:  2px solid #6CB4EE;
}

.accordian .content #last-contentx{
    border-bottom: 2px solid #6CB4EE;
}

.accordian .content .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordian .content.active .label::before{
    content: '-';
}

.accordian .content .contentx{
    position: relative;
    padding: 0px 15px;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordian .content.active .contentx{
    height: 100px;
    padding: 10px 15px;
    border-top: 2px solid #6CB4EE;
    margin-bottom: 10px;
}