*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.accordian{
    max-width: 800px;
}

.accordian .content{
    position: relative;
    margin: 10px 20px;
}

.accordian .content .label{
    position: relative;
    padding: 10px;
    background: #6CB4EE;
    color: #fff;
    cursor: pointer;
}

.accordian .content .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordian .content.active .label::before{
    content: '-';
}

.accordian .content .contentx{
    position: relative;
    padding: 0px;
    background: #d4d4d4;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordian .content.active .contentx{
    height: 80px;
    padding: 10px;
}