body {
    display: flex;
    justify-content: center;
}

.main_div{
    position: relative;
    padding: 10px 0px;
}

.main_div .mytext {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    outline: 0;
}

.main_div label {
    position: absolute;
    left: 20px;
    top: 30px;
    background-color: #fff;
    color: #333;
    transition: 0.3s ease-in-out;
}

.main_div textare:hover + .main_div .mylabel {
    transform: translateY(-20px) scale(0.9);
    padding: 5px;
    color: #6CB4EE;
}

.main_div .mytext:focus {
    border: 2px solid #6CB4EE;
}

.main_div .mytext:invalid {
    outline: 0;
}
