body {
    display: flex;
    justify-content: center;
}

.input-field{
    position: relative;
    padding: 10px 0px;
}

.input-field input {
    border: none;
    border-bottom: 2px solid #d4d4d4;
    margin: 10px;
    padding: 10px;
    outline: 0;
}

.input-field input:focus, .input-field input:valid {
    border-bottom: 2px solid #6CB4EE;
}
