body {
    display: flex;
    justify-content: center;
}

.input-field{
    position: relative;
    padding: 10px 0px;
}

.input-field input {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    margin: 10px;
    padding: 10px 20px;
    outline: 0;
}

.input-field label {
    position: absolute;
    left: 20px;
    bottom: 30px;
    background-color: #fff;
    color: #333;
    transition: 0.3s ease-in-out;
}

.input-field input:focus~label, .input-field input:valid~label {
    transform: translateY(-13px) scale(0.9);
    padding: 5px;
    color: #6CB4EE;
}

.input-field input:focus, .input-field input:valid {
    border: 2px solid #6CB4EE
}

.input-field input:invalid {
    outline: 0;
}
