@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.light-text {
    font-weight: 300;
}

.bold-text {
    font-weight: 700;
}

.large-text { font-size: 48px;}
.h1, h1 { font-size: 32px;}
.h2, h2 { font-size: 28px;}
.h3, h3 { font-size: 24px;}
.h4, h4 { font-size: 20px;}
.h5, h5 { font-size: 18px;}
.h6, h6 { font-size: 16px;}
.small-text, p { font-size: 14px;}

@media(max-width: 1200px) {
    .large-text { font-size: 44px;}
    .h1, h1 { font-size: 30px;}
    .h2, h2 { font-size: 26px;}
    .h3, h3 { font-size: 22px;}
}

@media(max-width: 800px) {
    .large-text { font-size: 40px;}
    .h4, h4 { font-size: 18px;}
    .h5, h5 { font-size: 16px;}
    .h6, h6 { font-size: 14px;}
    .small-text, p { font-size: 12px;}
}

@media(max-width: 600px) {
    .large-text { font-size: 36px;}
    .h1, h1 { font-size: 28px;}
    .h2, h2 { font-size: 24px;}
    .h3, h3 { font-size: 20px;}
}

@media(max-width: 400px) {
    .large-text { font-size: 32px;}
    .h1, h1 { font-size: 26px;}
    .h2, h2 { font-size: 22px;}
    .h3, h3 { font-size: 19px;}
}