* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    background-color: #fff;
    width: 100%;
    z-index: 98;
}

.navbar .left-part, .navbar .right-part {
    padding: 10px 20px;
}

.navbar .right-part ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navbar .right-part ul li {
    padding: 5px 15px;
}

.navbar .right-part ul li a {
    color: #333;
    text-decoration: none;
    position: relative;
    transition: 0.3s ease-in-out;
}

.navbar .right-part ul li a::before {
    content: " ";
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 0px;
    visibility: hidden;
    background-color: #6CB4EE;
    transform: scaleX(0);
    transition: 0.3s ease-in-out;
}

.navbar .right-part ul li a:hover, .navbar .right-part ul li a:focus {
    color: #6CB4EE;
}

.navbar .right-part ul li a:hover::before, .navbar .right-part ul li a:focus::before {
    visibility: visible;
    transform: scaleX(1);
}

.right-part .hamburger, .nav-menu li .close {
    cursor: pointer;
    display: none;
    color: #333;
}

.right-part .hamburger {
    font-size: 30px;
    position: relative;
    z-index: 100;
}

.nav-menu li .close {
    font-size: 26px;
    border-radius: 100%;
    background-color: #fff;
    padding: 5px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.right-part .hamburger:hover, .right-part .hamburger:focus, .nav-menu li .close:hover, .nav-menu li .close:focus {
    color: #6CB4EE;
}

.navbar .right-part ul.open {
    opacity: 1;
    animation: rightopen 0.7s ease-in-out;
    z-index: 102;
}

@keyframes rightopen {
    0% {
        transform: translateX(220px);
    }
    100% {
        transform: translateX(0px);
    }
}

.navbar .right-part ul.close {
    animation: rightclose 0.7s ease-in-out;
    z-index: 102;
    opacity: 0;
    transform: translateX(-220px);
}

@keyframes rightclose {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 1;
        transform: translateX(220px);
    }
}

@media(max-width: 767px) {
    .right-part .hamburger {
        display: flex;
    }

    .navbar .right-part ul {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        align-items: center;
        justify-content: flex-start;
        top: 0px;
        right: 0px;
        padding-top: 80px;
        background-color: #fff;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        width: 30%;
        opacity: 0;
    }

    .nav-menu li .close {
        display: block;
        position: absolute;
        top: 20px;
        left: 75%;
    }
}

@media(max-width: 600px) {
    .navbar .right-part ul {
        width: 45%;
    }
}

@media(max-width: 400px) {
    .navbar .right-part ul {
        width: 70%;
    }
}