* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
  }
  
  .row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  .row2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0 4px;
  }
  .row3 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .wide
  {
    width:50%;
    height:25%;
  }

  .tall
  {
    width: 33.33%;
    height:50%;
  }

  .normal
  {
    width: 33.33%;
    height:25%;
  }