* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.row {
  display: flex;
  justify-content: center;
  padding: 10px 15px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 24%;
  overflow: hidden;
}

.column .one {
  max-height: 400px;
  padding: 2%;
}

.sub-section {
  display: flex;
  justify-content: space-between;
}

.sub-section img {
  flex: 1;
  padding: 2%;
}

@media(max-width: 1300px) {
  .column {
    width: 25%;
  }
}
@media(max-width: 1100px) {
  .column .one{
    max-height: 350px;
  }
  .row {
    flex-wrap: wrap;
  }
}

@media(max-width: 900px) {
  .column {
    width: 35%;
  }
  .column .one, .sub-section img {
    padding: 3%;
  }
}

@media(max-width: 700px) {
  .column {
    width: 50%;
  }
}

@media(max-width: 400px) {
  .column {
    width: 85%;
  }
}