* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.tab-gallery-wrapper {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 10px;
  width: 25%;
}

.column img {
  cursor: pointer;
  opacity: 0.8;
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.expanded {
  position: relative;
  display: none;
  padding: 10px;
}

.closebtn {
  position: absolute;
    top: 20px;
    right: 2%;
    color: white;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 3px 10px;
    border-radius: 100%;
    font-size: 23px;
}

#expandedImg {
  width: 100%;
  height: auto;
}
