* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.tab-gallery-wrapper {
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 10px;
  width: 25%;
}

.column img {
  cursor: pointer;
  opacity: 0.8;
}

.column img:hover {
  opacity: 1;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.expanded {
  position: relative;
  /* display: none; */
  padding: 10px;
}

.closebtn {
  position: absolute;
    top: 25px;
    right: 2%;
    color: white;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 3px 10px;
    border-radius: 100%;
    font-size: 21px;
}

#expandedImg {
  width: 100%;
  height: auto;
}

@media(max-width: 1000px) {
  .closebtn {
    font-size: 15px;
    top: 25px;
    padding: 4px 9px;
    right: 4%;
  }
}

@media(max-width: 700px) {
  .closebtn {
    font-size: 13px;
    padding: 3px 7px;
    right: 4%;
  }
}
